.blog {
  color: black;
  padding-top: 10px;
  padding-left: 2px;
  border: solid;
  border-width: 1.5px;
  margin-bottom: 5px;
}

.blog__title, .blog__link, .blog__username {
  --nothing: none;
}

.blog__button-show, .blog__button-like, .blog__button-remove {
  --nothing: none;
}